.expandable-list-item {
  border: 1px solid #E5E5E5;
  margin-bottom: 4px;
  border-radius: 3px;
  &__panel-header {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px 20px;
    cursor: pointer;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #1D54B4;
    }
  }
  
  
  &__panel-body {
    border-top: 1px solid #C4C4C4;
    width: 100%;
    // max-height: 160px;
    height: 100%;
  }
}